<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
    <li>
        <a href="index.html">Home</a>
    </li>
    <li class="Profiles">
        <a data-toggle="dropdown" href="#" class="dropdown-toggle">Volume 1
            <b class="caret">
            </b>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="iti-iua.html">Internet User Authorization (IUA)</a>
            </li>
            <li>
                <a href="iti-pdqm.html">Patient Demographics Query for mobile (PDQm)</a>
            </li>
            <li>
                <a href="iti-pixm.html">Patient Identifier Cross-referencing for mobile (PIXm)</a>
            </li>
            <li>
                <a href="iti-mhd.html">Mobile Access to Health Documents (MHD)</a>
            </li>
            <li>
                <a href="iti-restful-atna.html">RESTful ATNA</a>
            </li>
            <li>
                <a href="iti-mcsd.html">Mobile Care Services Discovery (mCSD)</a>
            </li>
            <li>
                <a href="ppqm.html">Privacy Policy Query for Mobile (CH:PPQm)</a>
            </li>
        </ul>
    </li>
    <li class="dropdown">
        <a data-toggle="dropdown" href="#" class="dropdown-toggle">Volume 2
            <b class="caret">
            </b>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="iti-103.html">Get Authorization Server Metadata [ITI-103]</a>
            </li>
            <li>
                <a href="iti-71.html">Get Access Token [ITI-71]</a>
            </li>
            <li>
                <a href="iti-104.html">Patient Identity Feed FHIR [ITI-104]</a>
            </li>
            <li>
                <a href="iti-78.html">Mobile Patient Demographics Query [ITI-78]</a>
            </li>
            <li>
                <a href="iti-83.html">Mobile Patient Identifier Cross-reference Query [ITI-83]</a>
            </li>
            <li>
                <a href="iti-65.html">Provide Document Bundle [ITI-65]</a>
            </li>
            <li>
                <a href="iti-67.html">Find Document References [ITI-67]</a>
            </li>
            <li>
                <a href="iti-68.html">Retrieve Document [ITI-68]</a>
            </li>
            <li>
                <a href="ch-mhd-1.html">Update Document Metadata [CH:MHD-1]</a>
            </li>
            <li>
                <a href="iti-20.html">Record Audit Event [ITI-20]</a>
            </li>
            <li>
                <a href="iti-90.html">Find Matching Care Services [ITI-90]</a>
            </li>
            <li>
                <a href="ppq-3.html">Mobile Privacy Policy Feed [PPQ-3]</a>
            </li>
            <li>
                <a href="ppq-4.html">Mobile Privacy Policy Bundle Feed [PPQ-4]</a>
            </li>
            <li>
                <a href="ppq-5.html">Mobile Privacy Policy Retrieve [PPQ-5]</a>
            </li>
        </ul>
    </li>
    <li class="dropdown">
        <a data-toggle="dropdown" href="#" class="dropdown-toggle">Appendix
            <b class="caret">
            </b>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="profiles.html">Profiles</a>
            </li>
            <li>
                <a href="extensions.html">Extensions</a>
            </li>
            <li>
                <a href="terminology.html">Terminology</a>
            </li>
            <li>
                <a href="capstatements.html">Capability Statements</a>
            </li>
            <li>
                <a href="operations.html">Operations</a>
            </li>
            <li>
                <a href="sequencediagrams.html">Sequence diagrams</a>
            </li>
            <li>
                <a href="tracecontext.html">Trace Context</a>
            </li>
            <li>
                <a href="changelog.html">Open Issues / Change Log</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="artifacts.html">Artifacts</a>
    </li>
</ul>
